---
title: "RoboMaster University Championship"
---

<h1>RoboMaster University Championship</h1>

<img src="/og/robomaster.jpg" alt="RoboMaster Championship" style="width:100%; margin-bottom: 20px;" />

<p>The RoboMaster University Championship (RMUC) provides participants with a comprehensive opportunity to enhance their practical engineering skills. It integrates multiple robotics-related disciplines, including machine vision, embedded system design, mechanical engineering, autonomous navigation, and human-computer interaction. The stylish presentation makes RMUC even more exciting, attracting audiences from all walks of life and further spreading the love for robotics.</p>

<p>In RMUC, participating teams independently develop various types of robots with different functions to compete on the battlefield. Each team controls their robots to attack opponents' robots and bases by firing projectiles. The team with the highest remaining base health at the end of the match wins.</p>

<h2>My Responsibilities</h2>
<p>I was responsible for developing the automatic aiming algorithms for the hero robot and aerial robot, as well as operating the hero robot during the competition.</p>

<img src="/og/robomaster1.png" alt="Robot" style="width:50%; display:block; margin: 20px auto;" />
<img src="/og/robomaster2.jpg" alt="Robot" style="width:50%; display:block; margin: 20px auto;" />
<img src="/og/robomaster3.png" alt="Robot" style="width:50%; display:block; margin: 20px auto;" />
